::root {
  --white-pure: white;
  --white-primary: hsl(0, 43%, 96%);
  --gray-primary: hsl(30, 3%, 31%);
  --primary-color: rgba(207, 0, 92, 0.9);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
}

::selection {
  background: var(--primary-color);
  color: var(--white-pure);
  text-shadow: none;
}

html {
  -webkit-locale: "en";
  font-family: sans-serif;
  line-height: 1.15;
  background: 0 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  min-height: 100%;
  text-size-adjust: 100%;
}

body {
  text-size-adjust: 100%;
  box-sizing: inherit;
  margin: 0;
  background: var(--white-primary);
  color: var(--gray-primary);
  line-height: 1.5;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  letter-spacing: 0.6px;
  padding: 1rem;
  font-family: "EB Garamond", serif;
}

a {
  display: block;
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

input {
  font-family: inherit;
}

ul,
ol,
dd {
  list-style: none;
}

cite {
  font-style: normal;
}

img {
  display: block;
}

svg {
  width: 2rem;
}

/* UTILITIES CLASS */